@using Calendar.Helpers

@model Calendar.Models.EventViewModel
@*
    @inject Calendar.Models.Services.StaticListOfValuesService LOVs
    @inject Calendar.Controllers.TeamsController Teams
    @inject Calendar.Controllers.ProjectsController Projects
*@
@inject Calendar.Controllers.AppSettingsController appsettings

@{
    ViewData["Title"] = "Edit Event";
}

<h2>@ViewData["Title"] - ID @Html.DisplayFor(model => model.E.ID), <span id="idStatusInTitle"></span></h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="E.ID" />
        <div class="form-group">
            <label asp-for="E.Subject" class="col-md-2 control-label" data-toggle="tooltip" data-placement="top" data-html="true" title="@Constants.TIP_SUBJECT"></label>
            <div class="col-md-10">
                <input asp-for="E.Subject" class="form-control" />
                <span asp-validation-for="E.Subject" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="E.TaskDescription" class="col-md-2 control-label" data-toggle="tooltip" data-placement="top" data-html="true" title="@Constants.TIP_SHORTDESC"></label>
            <div class="col-md-10">
                <input asp-for="E.TaskDescription" class="form-control" />
                <span asp-validation-for="E.TaskDescription" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="E.StartDateTime" class="col-md-2 control-label"></label>
            <div class="col-md-4">
                <div class='input-group date' id='dtpickerStart'>
                    <input asp-for="E.StartDateTime" class="form-control" type="text" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                <script type="text/javascript">
                    $(function () {
                        $('#dtpickerStart').datetimepicker({
                            format: 'lll',
                            sideBySide: true
                        });
                    });
                </script>
                <span asp-validation-for="E.StartDateTime" class="text-danger"></span>
            </div>
            <label asp-for="E.EndDateTime" class="col-md-2 control-label"></label>
            <div class="col-md-4">
                <div class='input-group date' id='dtpickerEnd'>
                    <input asp-for="E.EndDateTime" class="form-control" type="text" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                <script type="text/javascript">
                    $(function () {
                        $('#dtpickerEnd').datetimepicker({
                            format: 'lll',
                            sideBySide: true
                        });
                    });
                </script>
                <span asp-validation-for="E.EndDateTime" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="E.EventStatus" class="col-md-2 control-label"></label>
            <div class="col-md-4">
                <select asp-for="E.EventStatus" asp-items="Model.EventStatus" class="form-control">
                    <option></option>
                </select>
            </div>
            <label asp-for="E.Reference" class="col-md-2 control-label" data-toggle="tooltip" data-placement="top" data-html="true" title="@Constants.TIP_REFERENCE"></label>
            <div class="col-md-4">
                <input asp-for="E.Reference" class="form-control" />
                <span asp-validation-for="E.Reference" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="E.AffectedHosts" class="col-md-2 control-label">
                Hosts<span role="button" class='glyphicon glyphicon-flash' style='color:red' title='Perform Impact Analysis' onclick="doIA('@appsettings.IA_Url','hosts')"></span>
            </label>
            <div class="col-md-10">
                <input asp-for="E.AffectedHosts" class="form-control" data-role="tagsinput" />
                <span asp-validation-for="E.AffectedHosts" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="E.AffectedProjects" class="col-md-2 control-label">
                Projects<span role="button" class='glyphicon glyphicon-flash' style='color:red' title='Perform Impact Analysis' onclick="doIA('@appsettings.IA_Url', 'projects')"></span>
            </label>
            <div class="col-md-10">
                <input asp-for="E.AffectedProjects" class="form-control" data-role="tagsinput" />
                <span asp-validation-for="E.AffectedProjects" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="E.AffectedTeams" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="E.AffectedTeams" class="form-control" data-role="tagsinput" />
                <span asp-validation-for="E.AffectedTeams" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="E.Category" class="col-md-2 control-label" data-toggle="tooltip" data-placement="top" data-html="true" title="@Constants.TIP_CATEGORY"></label>
            <div class="col-md-4">
                <input asp-for="E.Category" class="form-control" />
                <span asp-validation-for="E.Category" class="text-danger" />
            </div>
            <label asp-for="E.Environment" class="col-md-2 control-label"></label>
            <div class="col-md-4">
                <select asp-for="E.Environment" asp-items="Model.Environments"class="form-control">
                    <option></option>
                </select>
                <span asp-validation-for="E.Environment" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="E.ImpactAnalysis" class="col-md-2 control-label" data-toggle="tooltip" data-placement="top" data-html="true" title="@Constants.TIP_IMPACTANALYSIS"></label>
            <div class="col-md-10">
                <textarea rows="5" asp-for="E.ImpactAnalysis" class="form-control"></textarea>
                <span asp-validation-for="E.ImpactAnalysis" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="E.MaintProcedure" class="col-md-2 control-label" data-toggle="tooltip" data-placement="top" data-html="true" title="@Constants.TIP_ACTIONPLAN"></label>
            <div class="col-md-10">
                <textarea rows="5" asp-for="E.MaintProcedure" class="form-control"></textarea>
                <span asp-validation-for="E.MaintProcedure" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="E.ActionBy" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="E.ActionBy" class="form-control" data-role="tagsinput" />
                <span asp-validation-for="E.ActionBy" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="E.VerificationStep" class="col-md-2 control-label" data-toggle="tooltip" data-placement="top" data-html="true" title="@Constants.TIP_VERIFICATIONSTEPS"></label>
            <div class="col-md-10">
                <textarea rows="5" asp-for="E.VerificationStep" class="form-control"></textarea>
                <span asp-validation-for="E.VerificationStep" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="E.HealthCheckBy" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="E.HealthCheckBy" class="form-control" data-role="tagsinput" />
                <span asp-validation-for="E.HealthCheckBy" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="E.FallbackProcedure" class="col-md-2 control-label" data-toggle="tooltip" data-placement="top" data-html="true" title="@Constants.TIP_FALLBACKPROC"></label>
            <div class="col-md-10">
                <textarea rows="5" asp-for="E.FallbackProcedure" class="form-control"></textarea>
                <span asp-validation-for="E.FallbackProcedure" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="E.Result" class="col-md-2 control-label" data-toggle="tooltip" data-placement="top" data-html="true" title="@Constants.TIP_RESULTS"></label>
            <div class="col-md-10">
                <input asp-for="E.Result" class="form-control" />
                <span asp-validation-for="E.Result" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="E.Likelihood" class="col-md-2 control-label" data-toggle="tooltip" data-placement="top" data-html="true" title="@Constants.TIP_LIKELIHOOD"></label>
            <div class="col-md-4">
                <select asp-for="E.Likelihood" asp-items="Model.Likelihoods" class="form-control">
                    <option></option>
                </select>

                <span asp-validation-for="E.Likelihood" class="text-danger" />
            </div>
            <label asp-for="E.Impact" class="col-md-2 control-label" data-toggle="tooltip" data-placement="top" data-html="true" title="@Constants.TIP_IMPACT"></label>
            <div class="col-md-4">
                <select asp-for="E.Impact" asp-items="Model.Impacts" class="form-control">
                    <option></option>
                </select>

                <span asp-validation-for="E.Impact" class="text-danger" />
            </div>
        </div>

        @*This is a readonly makeup field. *@
        <div class="form-group">
            <label asp-for="E.RiskLevel" class="col-md-2 control-label" data-toggle="tooltip" data-placement="top" data-html="true" title="@Constants.TIP_RISKLEVEL"></label>
            <div class="col-md-10">
                <span class="form-control" id="RiskLevelDisplay" style="font-size:14px">
                </span>
            </div>
        </div>


        @* This is a hidden field. *@
        <div class="form-group" hidden>
            <label asp-for="E.RiskLevel" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="E.RiskLevel" asp-items="Model.RiskLevels" class="form-control">
                    <option></option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="E.RiskAnalysis" class="col-md-2 control-label" data-toggle="tooltip" data-placement="top" data-html="true" title="@Constants.TIP_RISKANALYSIS"></label>
            <div class="col-md-10">
                <textarea rows="5" asp-for="E.RiskAnalysis" class="form-control"></textarea>
                <span asp-validation-for="E.RiskAnalysis" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-5">
                <input type="hidden" name="Redir" value="@ViewBag.Redir" />
                @* The Create Audit Fields are hidden here to prevent EF to update the values to null!!! *@
                <input type="hidden" asp-for="E.CreatedDate" class="form-control" />
                <input type="hidden" asp-for="E.CreatedBy" class="form-control" />
                <input type="hidden" asp-for="E.CreatedByDisplayName" class="form-control" />
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
            <div class="col-md-5 text-right">
                <small>Last Updated: <i>@Html.DisplayFor(model => model.E.UpdatedDate)</i></small>
            </div>
        </div>
    </div>
</form>

<div>

    @if (@ViewBag.Redir != null)
    {
        <a href="@Uri.UnescapeDataString(ViewBag.Redir)">Back</a>
    }
    else
    {
        <a asp-action="Index">Back</a>
    }

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script type="text/javascript">

    /* prevent submit form by hitting Enter */
    $(document).ready(function() {
        $(window).keydown(function(event){
            if(event.keyCode == 13 && event.target.type != "textarea") {
                event.preventDefault();
                return false;
            }
        });
        /* Update Status in Title and Risk Level when page first load */
        $('#idStatusInTitle').text($('#EventStatus option:selected').text());
        UpdateRiskLevelWrapper();
    });

    /* Please refer to event.js for the actual implementation. */
    var riskmatrix = @Html.Raw(Json.Serialize(Model.RiskLevelMatrix));

    /* We need to workout the RiskLevel When Likelihood or Impact chnages. */
    $('#Likelihood').on('change', UpdateRiskLevelWrapper);
    $('#Impact').on('change', UpdateRiskLevelWrapper);

    /* Initialize AffectedHosts */
    $('#AffectedHosts').tagsinput({
        tagClass: 'label label-default'
    });

    /* JSON.parse doesn't work. Just use the for loop instead. */
    var p = @Html.Raw(Json.Serialize(Model.Projects.ToList()));
    var projects = [];

    for (i = 0; i < p.length; i++) {
        projects[i] = p[i].name;
    }

    //alert(JSON.stringify(p));
    //alert(projects);

    var bobjProj = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.whitespace,
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        // url points to a json file that contains an array of country names, see
        // https://github.com/twitter/typeahead.js/blob/gh-pages/data/countries.json
        local: projects
    });
    bobjProj.initialize();

    $('#AffectedProjects').tagsinput({
        tagClass: 'label label-default',
        typeaheadjs: {
            source: bobjProj.ttAdapter(),
            limit: 10
        }
    });

    /* JSON.parse doesn't work. Just use the for loop instead. */
    var t = @Html.Raw(Json.Serialize(Model.Teams.ToList()));
    var teams = [];

    for (i = 0; i < t.length; i++) {
        teams[i] = t[i].name;
    }

    //alert(JSON.stringify(t));
    //alert(teams);
    var bloodHoundObj = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.whitespace,
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        // url points to a json file that contains an array of country names, see
        // https://github.com/twitter/typeahead.js/blob/gh-pages/data/countries.json
        local: teams
    });
    bloodHoundObj.initialize();

    $('#AffectedTeams').tagsinput({
        tagClass: 'label label-default',
        typeaheadjs: {
            source: bloodHoundObj.ttAdapter(),
            limit: 10
        }
    });

    $('#ActionBy').tagsinput({
        tagClass: 'label label-default',
    });

    $('#HealthCheckBy').tagsinput({
        tagClass: 'label label-default',
    });

    /* EventStatus onChange will update Status in Title */
    $('#EventStatus').on('change', UpdStatusInTitle);

    function UpdStatusInTitle() {
        $('#idStatusInTitle').text(this.options[this.selectedIndex].text);
    }
</script>
